.navigation-clean-search .action-button, .navigation-clean-button .action-button:active {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}

.navigation-clean-button {
  background: #222222;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f2f5f8;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (max-width:767px) {
  .navigation-clean-button {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
  color: #1485ee;
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .navbar-form {
  border-top-color: #ddd;
}

.navigation-clean-button.navbar .navbar-nav > li > a {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  background-color: #222222;
  border-radius: 2px;
}

.navigation-clean-button .actions {
  margin-top: 7px;
  margin-bottom: 0;
}

.navigation-clean-button .actions .login {
  margin-right: 7px;
  text-decoration: none;
  color: #ffffff;
}

.navigation-clean-button .action-button, .navigation-clean-button .action-button:active {
  background: transparent;
  border-radius: 0;
  color: #e04c40;
  box-shadow: none;
  border: 1px solid #e04c40;
  text-shadow: none;
  padding: 10px 22px;
  transition: background-color 0.25s;
}

.navigation-clean-button .action-button:hover {
  background: #e04c40;
  color: #fff;
  font-weight: 400;
  border: 1px solid #df4c40;
}

.navbar {
  margin-bottom: 0;
}

.btn {
  border-radius: 0;
}

.btn {
  font-family: 'Roboto';
  font-weight: 400;
}

.scroll-container {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.scroll-content {
  display: flex;
  width: 100vw;
  /*animation: scroll 100s linear infinite;*/
}

.scroll-content img {
  width: 300px;
  height: auto;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.spin:hover {
  animation-play-state: running;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-forever {
  animation: spin 45s linear infinite;
  animation-play-state: running;
}

.spin {
  animation: spin 15s linear infinite;
  animation-play-state: paused;
}

h1 {
}

@media (min-width: 768px) {
  .gallery-title {
    font-size: 150px !important;
  }
}

@media (min-width: 768px) {
  .gallery-span {
    font-size: 75px !important;
  }
}

@media (min-width: 768px) {
  .gallery-button {
    font-size: 30px !important;
  }
}

@media (min-width: 768px) {
  .line-img {
    width: 250px !important;
  }
}

@media (min-width: 768px) {
  .community {
    width: 70% !important;
  }
}

@media (min-width: 768px) {
  .community-div {
    width: 100% !important;
  }
}

