@font-face {
    font-family: 'Taiganja Type';
    src: url('/assets/fonts/TaiganjaType.woff2') format('woff2'),
        url('/assets/fonts/TaiganjaType.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Taiganja Type';
    src: url('/assets/fonts/TaiganjaType.woff2') format('woff2'),
        url('/assets/fonts/TaiganjaType.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
